# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\web design\طراحی قالب با html,css,js - darsman.com\HTML CSS Bootstrap-@Computer_IT_Engineering\masoud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
